services:

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: loginapp
      POSTGRES_USER: nicky
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

  backend:
    image: ghcr.io/chaosnicky/urban-backend:latest
    container_name: backend
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/loginapp
      SPRING_DATASOURCE_USERNAME: nicky
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      SPRING_DATA_REDIS_TIMEOUT: 6000
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
    ports:
      - "8080:8080"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  frontend:
    image: ghcr.io/chaosnicky/urban-frontend:latest
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend